service_account.json
.env
__pycache__/
*.pyc
cache/
.DS_Store
venv/
dbt/profiles.yml
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvarsdbt/.user.yml
